@import "tailwindcss";

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  margin: 0;
  padding: 0;
  transition: background-color 0.4s ease, color 0.4s ease;
}

[data-reveal] {
  opacity: 0;
  transform: translateY(40px);
}

[data-reveal].in-view {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.7s ease;
}

.nav-link.active {
  color: var(--teal);
  font-weight: 600;
}